/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: url("background.svg") fixed;
    background-size: cover;
    min-height: 100vh;
    font-size: 16px;
    padding: 4rem 0;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1, h2, h3 {
    font-family: 'Reenie Beanie', cursive;
}

/* Form */

.new-note-form {
    flex: 1;
    width: min(600px, 80vw);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 4rem 0;
}

.note-title, .note-content {
    padding: 10px;
    display: block;
    font-family: Helvetica, sans-serif;
}

.button-row {
    display: flex;
}

.button-row button {
    flex: 1;
    padding: 10px;
}

/* Notes */

.saved-notes {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.individual-note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 25rem;
    overflow: hidden;
    background-color: yellow;
    font-family: Helvetica, sans-serif;
    padding: 2rem;
}

@media only screen and (max-width: 860px) {
    .individual-note {
      width: 80vw;
    }
}

.saved-note-content p {
    text-align: start;
    margin: 2rem 0;
}

.saved-note-buttons {
    display: flex;
    gap: 1rem;
}

.saved-note-buttons button {
    flex: 1;
    justify-content: space-evenly;
    background-color: yellow;
    border: none;
    box-shadow: 2px 2px 5px;
}

.no-notes {
    margin-bottom: 0;
}

/* Colors */

.red-color {
    background-color: red;
}